
<h1>Bienvenue sur ProStages</h1>
<p>
Les liens mon con ♥
</p>
<ul>
eyzghrjkglregbreuflinrgbnirehglbnmùgrbjsemrlk
    <li id=bob>      
        <a href="{{path('stages',{id:5})}}"> stage1</a> {# et class#} 
        <a href="{{path('entreprise')}}"> entreprise</a> 
        <a href="{{path('formations')}}"> entreprise</a> 
    </li>
</ul>
        