{% extends 'base.html.twig' %}  {# heritage #} 

{% block Contenu %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td><a class="stage" href="{{path('afficherStage',{id:1})}}">Voir</a></td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td><a class="stage" href="{{path('afficherStage',{id:2})}}">Voir</a></td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td><a class="stage" href="{{path('afficherStage',{id:3})}}">Voir</a></td>
        </tr>
    </tbody>
</table>

<!--gpeyrelongue_sym pour se connecter a la base de donnée-->
{% endblock %}